absl-py
anyio
audioread
audresample
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
decorator
fastapi
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httptools
idnaoblib
keras
kiwisolver
lazy_loaderibclang
librosa
llvmlite
MarkdownarkupSafe
matplotlib
ml-dtypes
msgpack
numba
numpy
oauthlib
opencv-python
opt-einsum
packagingPillow
platformdirs
pooch
protobuf
pyasn1
pyasn1-modules
pycparserpydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
requests-oauthlib
rsacikit-learn
scipy
tensorflow
tensorflow-estimator
tensorflow-io
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
unicorn.post
urllib
uvicorn
uvloop
watchfiles
websockets
Werkzeug
wrapt
